* { 
margin: 0;
padding: 0;
font: inherit;
}

html, body {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* color: red; */
}

.jucatorA, .jucatorB, header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.jucatorA {
    order: -1;
    justify-content: flex-end;

}

h1 {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

h2 {
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}


h3{
  font-family: "Playwrite US Modern", cursive;
  font-size: 20px;
  font-weight: <weight>;
  font-style: normal;
}

img {
    height: 70%;
    width: auto;
}

#reincepe {
    padding: 5px;
    margin: 5px;
}

.blur {
    filter: blur(5px);
}

/* animatie zaruri */
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(60deg); }
  50% { transform: rotate(-60deg); }
  75% { transform: rotate(60deg); }
  100% { transform: rotate(0deg); }
}

.zarA, .zarB {
  transition: transform 0.3s ease;
}

.animate {
  animation: shake 0.5s;
}

/* culori */
.zarA-color {
    color: rgb(235, 171, 59);
}

.zarB-color {
    color:rgb(138, 234, 5);
}

.egalitate-color {
    color: grey;
}