* { 
  margin: 0;
  padding: 0;
  font: inherit;
}

html, body {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.jucatorA, .jucatorB, header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.jucatorA {
  order: -1;
  justify-content: flex-end;
}



h1 {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

h2 {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

h3 {
  font-family: "Playwrite US Modern", cursive;
  font-size: 20px;
  font-style: normal;
}

img {
  height: 70%;
  width: auto;
}

#reincepe {
  padding: 5px;
  margin: 5px;
}

/* animatie zaruri */
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(60deg); }
  50% { transform: rotate(-60deg); }
  75% { transform: rotate(60deg); }
  100% { transform: rotate(0deg); }
}

.animate {
  animation: shake 0.5s;
}

/* animatie buton */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.bttnPulse:hover {
  animation: pulse 0.5s;
}

/* culori */
.zarA-color {
  color: rgb(235, 171, 59);
}

.zarB-color {
  color:rgb(138, 234, 5);
}

.egalitate-color {
  color: grey;
}

button {
  background: none;
  border: none;
}

.alert {
  color: red;
}

@media (orientation: landscape) {

  main {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    align-content: center;
    justify-items: center;
    height: 100%;
  }
    
  .jucatorA, .jucatorB {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .jucatorA {
    order: 0;
    grid-column: 2 / 3;
  }

  h3, h2 {
    margin-top: 1rem;
  }

  h1 {
    font-size: 10px;
  }

  h2 {
    font-size: 5px;
  }

  .zarA-color {
    order: -1;
  }

  .jucatorB {
    grid-column: 3 / 4;
  }

  header, footer {
    grid-column: 1 / -1;
  }

  img {
  height: 30%;
  width: auto;
}
}